venv/
Data/__pycache__
Data/anime_style/*.png
Data/select_image/*.png
Data/sketches/*.svg
Data/sketches_png/*.png
Data/transform_labeled/*.txt
Data/visual_labeled/*.png
Data/registed_sketch/*.svg
Data/registed_sketch_png/*.png
analysis1/heatmaps/*.png
analysis1/__pycache__
analysis2/__pycache__
analysis2/point-time/*.png
analysis3/__pycache__
analysis3/stroke-point-time/*.png
analysis3/window/*.png